<p style="color: green"><%= notice %></p>
<%= render @hike %>
<% if @hike.photo.attached? %>
  <%= image_tag @hike.photo, style: "max-width: 400px" %>
<% end %>
<div>
  <% if current_user == @hike.user %>
    <%= link_to "Edit this hike", edit_hike_path(@hike) %> |
    <%= button_to "Destroy this hike", @hike, method: :delete %>
  <% end %>
  <%= link_to "Back to hikes", hikes_path %>
</div>